@tailwind base;
@tailwind components;
@tailwind utilities;

.parameter {
    display: flex;
    justify-content: space-between;
}

.label {
	text-align: left;
	font-weight: 400;
	font-size: 14px;
}

.value {
	text-align: right;
	font-weight: 600;
	font-size: 12px;
}
